#
# mac paths
failureDir: /var/polaris/failure
freshDir: /var/polaris/fresh
successDir: /var/polaris/success
#
dbConn: postgresql+psycopg2://polaris_client:batabat@127.0.0.1:5432/polaris
#
# docker paths
#cookedDir: /mnt/polaris/cooked
#failureDir: /mnt/polaris/failure
#freshDir: /mnt/polaris/fresh
# 
#dbConn = "postgresql+psycopg2://polaris_client:batabat@host.docker.internal:5432/polaris"
#dbConn = "postgresql+psycopg2://polaris_client:batabat@172.17.0.1:5432/polaris"
#