#
freshDir: /var/polaris/fresh
#
# collection host location
#site: anderson1
site: development
#site: mobile1
#site: vallejo1
#
# collection host
#host: rpi3a
#host: rpi3c
host: rpi3d
#
# true, there is a GPS available
gpsEnable: false
#
# stations which inhibit collection
homePlateStations:
	- 'station1'
    - 'station2'
#